$blue: #007AFF;
$dark-blue: #142558;
$yellow: #FF8A00;
$white: #FFFF;


$light-grey-bg: #F2F2F7;

//font-weight
$weight-600: 600;
$weight-700: 700;
$weight-500: 500;

// font-sizes
$font-36: 2.25rem;
$font-24: 1.5rem;
$font-20: 1.25rem;
$font-53: 3.3125rem;
$font-48: 3rem;